.App {
  text-align: center;
  /* display: flex; */
  /* height: 100vh */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-body{
  width: 100%;
  min-height: 90vh;
  /* margin-bottom: 25px */
}

.App-header {
  background-color: #282c34;
  /* opacity: 0.5; */
  /* min-height: 100vh; */
  /* display: flex;
  justify-content: space-between; */
  /* flex-direction: column;
  align-items: center;
  justify-content: center; */
  /* font-size: calc(15px + 2vmin);*/




}

.header-components{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.me-auto > *{
  color: white; 
} 

.nav-links{
  text-decoration-line: none
}

.nav-links-font{
  color: white;
  text-decoration-line: none;
  font-weight: bold;
  font-size: 22px;
  transition: ease-in-out 0.5s
}

.nav-submit{
  background-color: aqua;
}

.App-link {
  color: #61dafb;
}

.header-title{
  font-size: 35px;
  font-weight: normal;
}

.header-desc{
  font-size: 15px;
  font-style: italic;
}

.toggle{
  background-color: white;
}

.featured-button{
  background-color: #0275d8;
  border-radius: 15px;
}

.me-auto{
  width: 100%
}

.me-auto > *{
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
  padding: 20px 20px 20px 20px;
}

.SOMETHING{
  /* width: 100%; */
}

.toolbar{
  height: 25px;
  margin: 0 0 0 10px;
}

.links-selected{
  /* color: #91e5ff */
  /* color: rgb(0, 233, 233) */
  color: rgb(231, 231, 4)
  /* color: rgb(21, 167, 169) */
  /* color:  rgb(255, 255, 0); */
}

.text-italics{
  font-style: italic;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.links:hover{
  font-size: 25px;
  text-decoration: underline;
  text-underline-offset: 8px;
}


/* .burger,.menu,.background {
position: fixed;
} */

/* .nav-links{
  margin: 10px 0;
} */

/* SUBMIT FORM */

form{
  width: 100%;
}

.form-components{
  width: 80%;
  margin: 20px auto;
}

.body-about-row{
  margin: 25px auto
}

.body-about-toast{
  width:100%
}

.container{
  margin: 15px auto
}

.body-about-text{
  display: grid;
  place-items: center;

}

.text-align-left{
  text-align: left;
}

.text-align-right{
  text-align: right;
}

.cesar{
  opacity: 0.5;
  transition: ease-in-out 1s;
  
}

.success-gif{
  height: 300px;

}

.dog-running{
  height: 500px;
}

.about{
  width: 150px;
  height: 150px;
  margin: 10px 40px;
  border-radius: 500px;
}

.center-hor{
display: grid;
place-items: center;

}

.test-photo{
  height: 300px;
  border-radius: 500px;

}

.about-how-block{
  display: flex;
  flex-direction: row;
}

.about-how-text{
  display: grid;
  place-items: center;
  width: 75%;
  margin: 15px auto
}

footer{
  background-color: gainsboro
  /* position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px; */
}

.footer-flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 15px;
  /* padding: 10px */

}

.flex-row > p{
  display: block;
  margin: 15px 0;
  font-style: italic;
}

.no-underline{
  display: inline;
  text-decoration: none;
  color: black;
  font-weight: bold
}


.gray-color{
  background-color: gainsboro;
}



.list-unstyled > li{
  margin: 10px auto;

}


.footer-icons{
  height: 40px;
  border-radius: 100px;
}

.footer-links{
  text-decoration: none;
  color: black
}

.footer-links:hover{
  color: white
}

.footer-icons:hover{
  background-color: white
}

.hero{
  height: 400px;
  overflow: hidden;
}

.hero-img{
  width: 100%;
  transition: ease-in-out 1s;
  transform: translate(0,-75px)

  
}

.hero-img:hover{
  transform: translate(0,-350px)
}

.small-buttons{
  background-color:#fd7e14;
  border: 0px;
}


/* .carousel-container {
  height: 200px;
  display: flex;
  justify-content: center;
}

.carousel--div{
  width: 80%;
  margin: auto auto;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

.carousel---block{
  min-width: 100%;
  width: 100%;
  transition: 1s cubic-bezier(0.1, 0.1, 0.1, 1.5);
  margin: auto;
}

.carousel-item {
  width: 100%;
  margin: auto auto;
  transition: 1s cubic-bezier(0.1, 0.1, 0.1, 1.5);
} */

/* style={{transform:`translate(-${currentIndex * 100}%)`}} */

.carousel-container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.carousel--div{
  transition: ease-in-out 1s;
  min-width: 100%;
  /* height: 100vh; */
  margin: auto auto;
  overflow: hidden;
}

.home-imgs{
  width: 100%;
  transform: translate(0,-350px);
  position: relative;
  border: 1px solid white

}

.img-desc{
  position: absolute;
  top: 35px;
  right: 45px;
  width: 350px;
  background-color:rgb(97, 218, 251, 0.9);
  /* border: 3px solid #fd7e14; */
  border-radius: 25px;
  padding: 25px 15px;
  
}

.review-block{
  height: 250px
}

.review-desc-div{
  margin: auto auto
}

.review-img-div{
  margin: auto auto
}

.review-img{
  height: 225px;
  width: 200px;
}


.gallery{
  /* display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */

  /* justify-content: space-around */ 

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.gallery > *{
  transition: 0.5s ease-in-out;
  margin: 15px auto
}

.gallery > *:hover{
  scale: 1.1
}
