@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;400&family=Poppins:wght@200;400;700&family=Julius+Sans+One&family=Overlock+SC&family=Raleway:wght@400;500;600;700&family=Urbanist&display=swap");

.App {
  text-align: center;
  /* display: flex; */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  overflow-x: hidden;
}

/* ----------- font ----------- */

h3{
  font-family: 'urbanist';
  font-size: 2rem
}

.mr-auto{
  font-family: 'Urbanist', sans-serif;
  font-size: 1.5rem;
}

.text-align-left{
  text-align: left;
}

.text-align-right{
  text-align: right;
}

p{
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.trial-modal{
  background: rgba(0, 0, 0, 0.8);
  padding: 3em;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  position: fixed;
  z-index: 1;
  height: 100vh;
}

.credentials-box{
  background-color:#fd7e14;
  color: white;
  width: 275px;
  padding: 10px 10px;
  margin: 0 auto
}

.credentials-img{
  width: 250px;
  margin: 0 auto;
  padding: 10px 0
}

.user-icon{
  display: block;
  width: 100px;
  height: 100px;
  margin: 10px auto;
}

.App-body{
  width: 100%;
  /* margin-bottom: 25px */
}

.App-header {
  background-color: #282c34;
  /* opacity: 0.5; */
  /* min-height: 100vh; */
  /* display: flex;
  justify-content: space-between; */
  /* flex-direction: column;
  align-items: center;
  justify-content: center; */
  /* font-size: calc(15px + 2vmin);*/

}

.header-components{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header-components > div{
  display: flex;
  align-items: center;
}

.me-auto > *{
  color: white; 
} 

.nav-links{
  text-decoration-line: none
}

.nav-links-font{
  color: white;
  text-decoration-line: none;
  /* font-weight: bold; */
  font-size: 22px;
  transition: ease-in-out 0.5s;
  margin: 0 auto;
}

.nav-submit{
  background-color: aqua;
}

.App-link {
  color: #61dafb;
}

.header-title{

  font-size: 35px;
  font-weight: normal;
  align-items: center;
  
  
}

.header-desc{
  font-size: 15px;
  font-style: italic;
}

.toggle{
  background-color: white;
}

.featured-button{
  background-color: #0275d8;
  border-radius: 15px;
}

.me-auto{
  width: 100%
}

.me-auto > *{
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
  padding: 20px 20px 20px 20px;
}

.toolbar{
  height: 25px;
  margin: 0 0 0 10px;
}

.links-selected{
  /* color: #91e5ff */
  /* color: rgb(0, 233, 233) */
  color: rgb(231, 231, 4)
  /* color: rgb(21, 167, 169) */
  /* color:  rgb(255, 255, 0); */
}

.text-italics{
  font-style: italic;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.links:hover{
  font-size: 25px;
  text-decoration: underline;
  text-underline-offset: 8px;
}


/* .burger,.menu,.background {
position: fixed;
} */

/* .nav-links{
  margin: 10px 0;
} */

/* SUBMIT FORM */

form{
  width: 100%;
}

.form-components{
  width: 80%;
  margin: 20px auto;
}

.body-about-row{
  margin: 25px auto
}

.body-about-toast{
  width:100%;
  padding: 20px 20px;
}

.container{
  margin: 15px auto
}

.body-about-text{
  display: grid;
  place-items: center;
}

.about-titles{

  background-color: rgba(0, 0, 0, 0.0)
}

.no-border{
  border: none;
}



.cesar{
  opacity: 0.5;
  transition: ease-in-out 1s;
  /* position: relative; */
  
}

.success-gif{
  height: 300px;

}

.dog-running{
  height: 500px;
}


.center-hor{
display: grid;
place-items: center;

}

.test-photo{
  height: 300px;
  border-radius: 500px;
}

.about-how-block{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 25px 0px;
}

.about-how-text{
  display: grid;
  place-items: center;
  width: 75%;
  margin: 15px auto;
  padding: 0 15px;
}

.about{

  width: 150px;
  height: 150px;
  margin: 10px 40px;
  border-radius: 500px;
}


footer{
  background-color: gainsboro
  /* position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px; */
}

.footer-flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 15px;
  /* padding: 10px */

}

.flex-row > p{
  display: block;
  margin: 15px 0;
  font-style: italic;
}

.no-underline{
  display: inline;
  text-decoration: none;
  color: black;
  font-weight: bold
}


.gray-color{
  background-color: rgb(250, 249, 249)
}



.list-unstyled > li{
  margin: 10px auto;

}


.footer-icons{
  height: 40px;
  border-radius: 100px;
}

.footer-links{
  text-decoration: none;
  color: black
}

.footer-links:hover{
  color: white
}

.footer-icons:hover{
  background-color: white
}

.hero{
  height: 400px;
  overflow: hidden;
}

.hero-img{
  width: 100%;
  transition: ease-in-out 1s;
  transform: translate(0,-75px)
}

/* .hero-img:hover{
  transform: translate(0,-350px)
} */

.small-buttons{
  background-color:#fd7e14;
  border: 0px;
}

.small-buttons:hover{
  background-color:#ee9f0e;
}

/* .carousel{
  min-height: 75vh;
} */

.carousel-container {
  
  display: flex;
  flex-direction: row;
  overflow: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  margin: 0 auto;

}

.carousel--slides{
  transition: ease-in-out 1s;
  flex: 1 0 100%;
  overflow-y: hidden;
}

.carousel--content{
  height: 750px;
  overflow: hidden;
  display: flex;
}

.home-imgs{
  width: 50%;
  border: 1px solid white
}

.home-imgs >img{
  width: 100%;
  transform: translate(0,-20%)
}

.img-desc{
  width: 50%;
  border-radius: 25px;
  padding: 25px 15px;
  
}

.review-block{
  height: 250px
}

.review-desc-div{
  margin: auto auto
}

.review-img-div{
  margin: auto auto
}

.review-img{
  height: 225px;
  width: 200px;
}


.gallery{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.gallery > *{
  transition: 0.5s ease-in-out;
  margin: 15px auto
}

.gallery > *:hover{
  scale: 1.1
}

.time-bar{
  height: 5px;
  width: 100%;
  background-color: rgb(231, 231, 4)

}


.modal-block > *{
  color: white
}

.modal-titles{
  margin: 25px auto
}

.modal-me{
  background: rgba(0, 0, 0, 0.8);
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  position: fixed;
  z-index: 1;
  height: 0;
  display: grid;
}

.modal-center{
  margin: auto auto;
  color: white
}

.modal-img{
  height: 550px;
  width: 400px;
  margin: 25px auto
}

.loadingDiv{
    height:100vh;
    display: grid;
}
.loadingBlock{
  margin: auto auto;
}

.demo-button{
  position: fixed;
  right: 0px;
  bottom: 10%;
  width: 200px;
  height: auto;
  scale: 1;
  z-index: 1
}

.demo-open{
  background-color: black;
  padding: 10px 10px;
  border-radius: 10px;
  border: 3px solid wheat;
  transition: ease-in-out 0.5s;
  color: white
}

.demo-open:hover{
  background-color: #fd7e14;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* .modal-row{

  min-height: 100%; 
  display: flex;
   align-items: center;
    justify-content: space-between;
} */

/* .relative-bg{
  position: relative;
  z-index: -1;
  
}

.absolute-bg{
  position: absolute;
  width: 100%;
  backdrop-filter: blur(20px);
  top: 0;
  left: 0;
  right: 0;


}
 */

 p {
  font-family: 'Raleway', sans-serif;
}


@media screen and (max-width: 1000px) {

  .hero{
    width: 1000px;;
  }

  .hero-img{
    min-height: 100%;
  } 

  .body-about-row{
    display: block;
  }

  .body-about-row > * {
    margin: 10px auto;
  }

  .test-photo{
    margin: 10px auto;
  }

  .modal-flex{
    display: block;
  }

  .modal-block > * {
    width: 95%;
    margin: 0 auto;
  }


  .links{
    text-align: center;
    margin: 0 auto;
  }



}

@media screen and (max-width: 768px){
  .test-photo{
    margin: 10px auto;
  }
  
  .carousel{
    min-height: auto;
  }

  .carousel--content{
    display: block;
    height: auto;
  }

  .home-imgs, .img-desc{
    width: 100%;
  }

  .home-imgs>img{
    transform: translate(0%)
  }

  .header-components > div{
    margin: 15px auto;
    padding: 0 15px;
    text-align: center;
  }
}

@media screen and (max-width: 650px){
  .about-how-block{
    display: block
  }

  .test-photo{
    height: 200px;
  }

}

  @media screen and (max-width: 510px){

    .nav-links-font{
      text-align: center;
    }
  
}