.App {
  text-align: center;
  /* display: flex; */
  /* height: 100vh */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-body{
  width: 100%;
  min-height: 90vh;
  margin: 25px auto
}

.App-header {
  background-color: #282c34;
  /* opacity: 0.5; */
  /* min-height: 100vh; */
  display: flex;
  /* flex-direction: column;
  align-items: center;
  justify-content: center; */
  font-size: calc(15px + 2vmin);
  color: white;


}

.nav-links{
  text-decoration-line: none
}

.nav-links-font{
  color: white;
}

.nav-submit{
  background-color: aqua;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* .burger,.menu,.background {
position: fixed;
} */

/* .nav-links{
  margin: 10px 0;
} */

/* SUBMIT FORM */

form{
  width: 100%;
}

.form-components{
  width: 80%;
  margin: 20px auto;
}

.body-about-row{
  margin: 25px auto
}

.body-about-toast{
  width:100%
}

.container{
  margin: 15px auto
}

.body-about-text{
  display: grid;
  place-items: center;

}

.text-align-left{
  text-align: left;
}

.text-align-right{
  text-align: right;
}

.cesar{
  opacity: 0.5;
  transition: ease-in-out 1s;
  
}

.success-gif{
  height: 300px;

}

.dog-running{
  height: 500px;
}

.about{
  width: 150px;
  height: 150px;
  margin: 10px 40px;
  border-radius: 500px;
}

.center-hor{
display: grid;
place-items: center;

}

.test-photo{
  height: 300px;
  border-radius: 500px;

}

.about-how-block{
  display: flex;
  flex-direction: row;
}

.about-how-text{
  display: grid;
  place-items: center;
  width: 75%;
  margin: 15px auto
}

footer{
  background-color: gainsboro
  /* position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px; */
}

.footer-flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 15px;
  /* padding: 10px */

}

.flex-row > p{
  display: block;
  margin: 15px 0;
  font-style: italic;
}

.no-underline{
  display: inline;
  text-decoration: none;
  color: black;
  font-weight: bold
}


.gray-color{
  background-color: gainsboro;
}